Git_sample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Git_sample.xcodeproj/project.xcworkspace/xcuserdata/kenhayashi.xcuserdatad/UserInterfaceState.xcuserstate
Git_sample.xcodeproj/xcuserdata/kenhayashi.xcuserdatad/xcschemes/xcschememanagement.plist
